
@mixin screen-m {
    @media screen and (max-width: 1000px){
        @content
    }
};

@mixin screen-s {
    @media screen and (max-width: 800px){
        @content
    }
};

@mixin screen-xs {
    @media screen and (max-width: 600px){
        @content
    }
};

@mixin background-image {
    background: $color-white;
    // background: linear-gradient(300deg,#b8e1ff,#bcb6ff,#b8e1ff,#bcb6ff,#b8e1ff,#bcb6ff);
    // background-size: 420% 420%;
    // animation: gradient-animation 30s infinite;
    // background-attachment: fixed;
}

@mixin filter-image {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: .6;
}

@mixin filter-background {
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 50px );
}
