
@mixin screen-m {
    @media screen and (max-width: 1000px){
        @content
    }
};

@mixin screen-s {
    @media screen and (max-width: 800px){
        @content
    }
};

@mixin screen-xs {
    @media screen and (max-width: 600px){
        @content
    }
};

@mixin background-image {
    background-image: url("~static/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include screen-s {
        background-image: url("~static/images/background-mobile.png");
    }
}

@mixin filter-image {
    opacity: 50%;
    filter: brightness(1.2);
}
