@font-face {
  font-family: "Montserrat-Black";
  src: url("~static/fonts/Montserrat-Black.ttf") format("truetype"),
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("~static/fonts/Montserrat-ExtraBold.ttf") format("truetype"),
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("~static/fonts/Montserrat-Bold.ttf") format("truetype"),
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("~static/fonts/Montserrat-SemiBold.ttf") format("truetype"),
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("~static/fonts/Montserrat-Regular.ttf") format("truetype"),
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("~static/fonts/Montserrat-Medium.ttf") format("truetype"),
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("~static/fonts/Montserrat-Light.ttf") format("truetype"),
}

// COLOR
$color-black: #000;
$color-white: #fff;
$color-blue: #B8E1FF;
$color-purple: #BCB6FF;

// FONTS
$font-montserrat-black: "Montserrat-Black", sans-serif;
$font-montserrat-extra-bold: "Montserrat-ExtraBold", sans-serif;
$font-montserrat-bold: "Montserrat-Bold", sans-serif;
$font-montserrat-semi-bold: "Montserrat-SemiBold", sans-serif;
$font-montserrat-medium: "Montserrat-Medium", sans-serif;
$font-montserrat-regular: "Montserrat-Regular", sans-serif;
$font-montserrat-light: "Montserrat-Light", sans-serif;

// TRANSITION
$current-transition: .3s ease;