@font-face {
  font-family: 'Montserrat-Black';
  src: url('~static/fonts/Montserrat-Black.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('~static/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('~static/fonts/Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('~static/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('~static/fonts/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('~static/fonts/Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('~static/fonts/Montserrat-Light.ttf') format('truetype');
  font-display: swap;
}

// COLOR
$color-black: #333;
$color-white: #fdfdfd;
$color-main: #1e86d1;
$color-gray: #f2f2f2;
$color-first: #1e86d1;
$color-second: #ad8ae2;
$color-third: #ffc0cb;

// FONTS
$font-montserrat-black: 'Montserrat-Black', sans-serif;
$font-montserrat-extra-bold: 'Montserrat-ExtraBold', sans-serif;
$font-montserrat-bold: 'Montserrat-Bold', sans-serif;
$font-montserrat-semi-bold: 'Montserrat-SemiBold', sans-serif;
$font-montserrat-medium: 'Montserrat-Medium', sans-serif;
$font-montserrat-regular: 'Montserrat-Regular', sans-serif;
$font-montserrat-light: 'Montserrat-Light', sans-serif;

// TRANSITION
$current-transition: 0.3s ease-in-out;
