.cursor-career{
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 999px;
  border: 2px solid $color-black;
  position: absolute;
  border-radius: 999px;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: -1;
  .cursor-line{
    width: 50%;
    height: 2px;
    background: $color-black;

    position: relative;
    .cursor-arrow{
      width: 20px;
      height: 20px;

      position: absolute;
      right: 0;
      transform: translate(-2px, -45%) rotate(45deg);
      border-top: 2px solid $color-black;
      border-right: 2px solid $color-black;
    }
  }
}
.cursor-career.active{
  display: flex;
}