
h1{
    font-family: $font-montserrat-black;
    font-size: clamp(2rem, 4.5vw, 5rem);
    line-height: clamp(2rem, 4.5vw, 5rem);
    text-transform: uppercase;
}
h2{
    font-family: $font-montserrat-black;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: uppercase;
}

p{
    font-family: $font-montserrat-light;
}