
h1{
    font-family: $font-montserrat-black;
    font-size: clamp(2rem, 4.5vw, 5rem);
    line-height: clamp(2rem, 4.5vw, 5rem);
    text-transform: uppercase;
    // text-shadow: 3px 3px 0 $color-white;
}
h2{
    font-family: $font-montserrat-black;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: uppercase;
}
h3{
    font-family: $font-montserrat-bold;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: camelcase;
}
h4{
    font-family: $font-montserrat-medium;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}
.number{
    font-size: clamp(40px, 5vw, 80px);
    line-height: clamp(40px, 5vw, 80px);
    font-family: $font-montserrat-extra-bold;
}

p{
    font-family: $font-montserrat-regular;
}

.links-img{
  transition: .3s;
  @include filter-image;
  z-index: 1;
  &:hover{
    opacity: 1;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: scale(1.02);
  }
}

.links{
    cursor: pointer;
    width: fit-content;
    color: $color-black;
    transition: all .1s;
    font-family: $font-montserrat-semi-bold;
    img{
        display: inline-block;
        transition: $current-transition;
        transform: translate(3px, -3px);
      }
    &:hover{
      background-image: linear-gradient(
        to right,
        $color-black,
        $color-black 50%,
        $color-white 50%,
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: $current-transition;
      .img-links{
        transform: translate(8px, -8px);
      }
    }
}