.container-section{
  display: flex;
  flex-direction: row-reverse;
  .title-section{
    h2{
      position: sticky;
      top: 0;

      padding-top: 220px;

      line-height: 220px;
      color: $color-black;

      writing-mode: vertical-rl;
      text-orientation: sideways;
      text-transform: uppercase;
    }
  }
  .section{
    width: 100%;
  }
}